[Unit]
Description=PRS - ADSB SERVICE
After=multi-user.target

[Service]
Type=idle  
ExecStart=/home/pi/PRDS/.venv/bin/python3 /home/pi/PRDS/ADSB/main.py
Restart=always
RestartSec=20
WorkingDirectory=/home/pi/PRDS/ADSB/


[Install]  
WantedBy=multi-user.target 
